.grid-container1 {
    border: solid 2px red;
    display: grid;
    grid-template-areas:
    "header header header header"
    "sidebar image image image"
    "sidebar main main main"
    "sidebar main main main"
    "footer footer footer footer";
    grid-template-rows: 200px 150px 400px 400px 200px;
}

.grid-item1 {
    border: solid 2px #00FF00;
    text-align: center;
}

.header1 {
    grid-area: header;
    /* height: 200px; */
}

.image1 {
    grid-area: image;
    /* height: 150px; */
}

.main1 {
    grid-area: main;
    /* height: 400px; */
}

.sidebar1 {
    grid-area: sidebar;
    /* height: 400px; */
}

.footer1 {
    grid-area: footer;
    /* height: 200px; */
}